extends ../layouts/header.pug
block header
    
    h1 Add user

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/users/create", method="POST", enctype="multipart/form-data")
        .form-group
            label(for='userName') User Name
            input#userName.form-control(name="userName", type="text", value=value? value.userName : '')
        .form-group
            label(for='phone') Phone
            input#phone.form-control(name="phone", type="text", value=value? value.phone : '')
        .form-group
            label(for='password') Password
            input#password.form-control(name="password", type="password", value=value? value.password : '')
        .form-group
            label(for='avatar') Avatar
            input#avatar.form-control-file(name="avatar", type="file")
        
        button.btn.btn-primary Create